body {
  margin: 0;
  font-family: "Montserrat";
  max-width: 1440px;
  margin: 0 auto;
}

/* TOP SECTION */
#top-section {
  height: 735px;
  background-image: url(./assets/background.png);
  background-repeat: no-repeat;
  color: #fff;
  display: block;
  padding: 0 117px;
  margin-bottom: 64px;
}
#top-section .top-nav {
  height: 77px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}
#top-section .top-nav .logo {
  font-weight: 600;
  font-size: 36px;
}
#top-section .top-nav form {
  width: 288px;
  height: 41px;
}
#top-section .top-nav form input {
  width: 100%;
  height: 100%;
  padding-left: 32px;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  background: none;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}
#top-section .top-nav form input::-moz-placeholder {
  color: #fff;
}
#top-section .top-nav form input:-ms-input-placeholder {
  color: #fff;
}
#top-section .top-nav form input::placeholder {
  color: #fff;
}
#top-section .top-nav .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
#top-section .top-nav .buttons div {
  font-size: 16px;
}
#top-section .content {
  width: 792px;
}
#top-section .content h1 {
  font-weight: 600;
  font-size: 64px;
}
#top-section .content p {
  font-size: 24px;
}
#top-section .content a {
  color: #fff;
}

h2 {
  font-weight: 600;
  font-size: 48px;
  margin: 32px 0;
}

#forniture-for {
  display: block;
  padding: 0 117px;
  margin-bottom: 64px;
}
#forniture-for .box-container {
  display: block;
  font-weight: 600;
  font-size: 34px;
  color: #fff;
}
#forniture-for .box-container .first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin-bottom: 32px;
}
#forniture-for .box-container .first div {
  width: 584px;
  height: 415px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#forniture-for .box-container .second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
#forniture-for .box-container .second div {
  width: 379px;
  height: 415px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#forniture-for .box-container .relax-box {
  background: url(./assets/relax.png) no-repeat;
}
#forniture-for .box-container .work-box {
  background: url(./assets/work.png) no-repeat;
}
#forniture-for .box-container .kitchen-box {
  background: url(./assets/kitchen.png) no-repeat;
}
#forniture-for .box-container .children-box {
  background: url(./assets/children.png) no-repeat;
}
#forniture-for .box-container .bathroom-box {
  background: url(./assets/bathroom.png) no-repeat;
}

#spec-offers, #catalog {
  display: block;
  padding: 0 117px;
  margin-bottom: 64px;
}
#spec-offers .box-container, #catalog .box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#spec-offers .box-container > div, #catalog .box-container > div {
  width: 379px;
}
#spec-offers .box-container > div img, #catalog .box-container > div img {
  width: 379px;
  height: 250px;
}
#spec-offers .box-container > div h3, #catalog .box-container > div h3 {
  font-weight: 500;
  font-size: 24px;
  margin: 10px 0;
}
#spec-offers .box-container > div > p, #catalog .box-container > div > p {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}
#spec-offers .box-container > div .prices-wrap, #catalog .box-container > div .prices-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
#spec-offers .box-container > div .prices-wrap .price, #catalog .box-container > div .prices-wrap .price {
  font-weight: 500;
  font-size: 24px;
  color: #050505;
  margin: 0;
}
#spec-offers .box-container > div .prices-wrap .old-price, #catalog .box-container > div .prices-wrap .old-price {
  font-weight: 500;
  font-size: 24px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #888888;
  margin: 0;
}

#catalog .box-container:nth-of-type(2n) {
  margin-top: 56px;
}

.go-to-catalog {
  color: #000;
}/*# sourceMappingURL=style.css.map */